<mat-card class="task-container">
    <mat-list>
      <mat-card class="task-item-container" *ngFor="let task of tasks">
          <mat-list-item [ngClass]="{'strike': task.status == 2}">
              {{task.title}}
            </mat-list-item>
            <div class="form-check">
                <input class="form-check-input" (click)="changeStatus(task)" type="checkbox" value="" id="flexCheckDefault">
              </div>
              <svg (click)="deleteTask(task)" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
      </mat-card>
    </mat-list>  
  </mat-card>